@import './../../../../assets/css/itcss/settings/settings';
.wait-spinner-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.wait-spinner-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $wait-spinner-bg;
}

::ng-deep .wait-spinner {
  width: 100%;
  height: 100%;
  .progress-snipper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > mat-progress-spinner {
      margin: auto;
      max-height: 50px;
      max-width: 50px;

      > svg {
        max-height: 50px;
        max-width: 50px;
        circle {
          stroke: $main-title-color;
        }
      }
    }
  }
}
