// Colors
$navbar-color: #b5b5b5;
$disable-color: #868686;
$border-main-title-color: #c1c1c1;
$navbar-light-blue: #d9f0f7;
$background-color: #f7f7f7;
$button-hover: #000d52;
$wait-spinner-bg: #0000006e;
$top-bar: #002f5c;
$input-form-color: #3f51b5;
$navbar-bg: #08478b;
$main-title-color: #006ab3;
$table-header-color: #006ab3;
$background-login: #1776b7;
$section-color: #84b7e3;
$orange-color: #dd7100;
$orange-color-2: #c15407;
$orange-color3: #dd6f45;
$orange-color-3: #b45b39;
$color-red: red;
$color-red-background: #cbabab;
$color-green: green;
$mat-icon-red: $color-red;
$mat-icon-green: $color-green;
$table-border-color: #458fc0;

// Widths
$max-width-container: 1100px;
$max-width-container-xl: 1800px;
$min-height-container: 400px;
$navbar-min-width: 600px;
$navbar-max-width: 599px;
