<div class="intra-container">
  <div class="intra-main-title">
    <div class="title-content">{{ 'REQUEST_NEW.UPLOAD.TITLE' | translate }}</div>
  </div>

  <div class="intra-main-body" fxLayout="column">
    <div class="intra-main-body__form">
      <div fxFlex="30%" class="form-input">
        <div class="form-input__label">
          {{ 'REQUEST_NEW.UPLOAD.DOWNLOAD_TEMPLATE' | translate }}
        </div>

        <div>
          {{ 'REQUEST_NEW.UPLOAD.TEMPLATE' | translate }}
          <button class="btn btn-back" mat-raised-button (click)="downloadTemplate()">
            {{ 'REQUEST_NEW.UPLOAD.DOWNLOAD' | translate }}
          </button>
        </div>
      </div>
      <div fxFlex="70%" class="form-input">
        <div class="form-input__label">
          {{ 'REQUEST_NEW.UPLOAD.ARCHIVE' | translate }}
        </div>
        <div>
          <input
            type="file"
            id="files"
            (change)="uploadedFile($event)"
            onclick="this.value=null;"
            accept=".xlsx"
            hidden="true"
            title=" "
          />
          {{ 'REQUEST_NEW.UPLOAD.UPLOAD' | translate }}
          <button class="btn btn-save" mat-raised-button>
            <label class="load-file" for="files">{{ 'REQUEST_NEW.UPLOAD.UPLOAD' | translate }} </label>
          </button>
          <label>{{ fileName }}</label>
        </div>
      </div>

      <div class="table-container">
        <div class="table-container__table">
          <div class="form-input__label">
            {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.TITLE' | translate }}
          </div>
          <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.ID' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.IdRow }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ValidityStart">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.VALIDITY_START' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.ValidityStart }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ValidityEnd">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.VALIDITY_END' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.ValidityEnd }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ValidityStartHour">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.VALIDITY_START_HOUR' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.ValidityStartHour }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ValidityEndHour">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.VALIDITY_END_HOUR' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.ValidityEndHour }}
              </td>
            </ng-container>

            <ng-container matColumnDef="IndustrialShed">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.INDUSTRIAL_SHED' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.IndustrialShed }}
              </td>
            </ng-container>

            <ng-container matColumnDef="DestinyClient">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DESTINY_CLIENT' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.DestinyClient }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Product">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.PRODUCT' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Product }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Format">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.FORMAT' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Format }}
              </td>
            </ng-container>

            <ng-container matColumnDef="NumAgreement">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.NUM_AGREEMENT' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.NumAgreement }}
              </td>
            </ng-container>

            <ng-container matColumnDef="OC">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.OC' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.OC }}
              </td>
            </ng-container>

            <ng-container matColumnDef="NumAGris">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.NUM_AGRIS' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.NumAgris }}
              </td>
            </ng-container>

            <ng-container matColumnDef="DestinyDirection">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DESTINY_DIRECTION' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.DestinyDirection }}
              </td>
            </ng-container>

            <ng-container matColumnDef="RUT">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DRIVER_RUT' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Driver_RUT }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DRIVER_NAME' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Driver_Name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="LastName">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DRIVER_LASTNAME' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.Driver_LastName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Telephone">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.DRIVER_TELEPHONE' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.Driver_Telephone }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Patent">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.PATENT' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Patent }}
              </td>
            </ng-container>

            <ng-container matColumnDef="State">
              <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST_NEW.UPLOAD.ARCHIVE_DATA.STATE' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  [style.color]="element.comment ? 'red' : 'green'"
                  matTooltip="{{ element.comment | translate }}"
                  >{{ element.comment ? TOOLTIPS.INFORMATION : TOOLTIPS.CHECK }}</mat-icon
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsRequestsUpload"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRequestsUpload"></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="intra-main-body__buttons">
      <div class="intra-main-body__buttons__left">
        <button class="btn btn-edit" mat-raised-button (click)="onCancelButtonClick()">
          {{ 'REQUEST_NEW.UPLOAD.BUTTONS.CANCEL' | translate }}
        </button>
      </div>

      <div class="intra-main-body__buttons__right">
        <button
          [ngClass]="rowsWithError && rowsWithError.size > 0 ? 'disable' : ''"
          class="btn btn-save btn-submit"
          mat-raised-button
          (click)="submitCreateMassiveRequest()"
        >
          {{ 'REQUEST_NEW.UPLOAD.BUTTONS.SAVE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
