@import '../../../../../assets/css/itcss/generic/generic';
@import '../../../../../assets/css/itcss/objects/partials/objects.form';

.intra-main-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-submit {
  margin-right: 50px;
}
