<div class="intra-container">
  <div class="intra-main-title">
    <div class="title-content">{{ title | translate }}</div>
  </div>
  <div class="intra-main-body">
    <form [formGroup]="scheduleForm" class="intra-main-body__form">
      <mat-form-field fxFlex="25%" class="form-field">
        <mat-label>{{ 'SCHEDULES.CLIENT' | translate }}</mat-label>
        <mat-select formControlName="Client">
          <mat-option *ngFor="let cl of clients" [value]="cl.IdClient">
            {{ cl.Name }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ getTextByKey('Client') | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="25%" class="form-field">
        <mat-label>{{ 'REQUEST_NEW.REQUEST_BASIC_DATA.VALIDITY_START' | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="DayFrom"
          required
          placeholder="{{ 'REQUEST_NEW.REQUEST_BASIC_DATA.VALIDITY_START_PLACEHOLDER' | translate }}"
          [min]="dateToday"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-hint>{{ getTextByKey('DayFrom') | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="25%" class="form-field">
        <mat-label>{{ 'REQUEST_NEW.REQUEST_BASIC_DATA.VALIDITY_END' | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          formControlName="DayTo"
          required
          placeholder="{{ 'REQUEST_NEW.REQUEST_BASIC_DATA.VALIDITY_END_PLACEHOLDER' | translate }}"
          [min]="minDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint>{{ getTextByKey('DayTo') | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="13%" class="form-field">
        <mat-label>{{ 'SCHEDULES.HOUR_FROM' | translate }}</mat-label>
        <input
          matInput
          type="time"
          formControlName="HourFrom"
          placeholder="{{ 'SCHEDULES.HOUR_FROM' | translate }}"
          required
        />
      </mat-form-field>

      <mat-form-field fxFlex="12%" class="form-field">
        <mat-label>{{ 'SCHEDULES.HOUR_TO' | translate }}</mat-label>
        <input
          matInput
          type="time"
          formControlName="HourTo"
          placeholder="{{ 'SCHEDULES.HOUR_TO' | translate }}"
          required
        />
        <mat-hint>{{ getTextByKey('HourTo') | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="100%" class="form-field">
        <mat-label>{{ 'SCHEDULES.COMMENT' | translate }}</mat-label>
        <textarea matInput placeholder="{{ 'SCHEDULES.COMMENT_PH' | translate }}" formControlName="Comment"></textarea>
      </mat-form-field>
    </form>

    <!-- Buttons -->
    <div class="intra-main-body__buttons">
      <div class="intra-main-body__buttons__left">
        <button class="btn btn-back" (click)="onGoBackButtonClick()" matTooltip="{{ 'TOOLTIPS.BACK' | translate }}">
          {{ 'SCHEDULES.BUTTONS.GO_BACK' | translate }}
        </button>
      </div>
      <div class="intra-main-body__buttons__right">
        <button
          *ngIf="formMode !== formTypes.DETAIL_FORM"
          class="btn btn-save"
          (click)="onSaveButtonClick()"
          matTooltip="{{ 'TOOLTIPS.SAVE' | translate }}"
        >
          {{ 'SCHEDULES.BUTTONS.SAVE_SCHEDULE' | translate }}
        </button>

        <button
          *ngIf="formMode === formTypes.DETAIL_FORM"
          class="btn btn-edit"
          (click)="onEditButtonClick()"
          matTooltip="{{ 'TOOLTIPS.EDIT' | translate }}"
        >
          {{ 'SCHEDULES.BUTTONS.EDIT_SCHEDULE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
