.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 10px;
}

.div-container {
  margin-bottom: 20px;
}

.element-form {
  min-width: 200px;
  max-width: 200px;
  min-height: 71px;
  max-height: 71px;
}

.element-confirm {
  min-width: 200px;
  max-width: 200px;
}

.custom-section-title {
  margin-top: 15px;
  font: 400 14px / 20px Roboto, 'Helvetica Neue', sans-serif;
}
